@charset "UTF-8";

body {
	background-color: #3b272a;
}

#root {
	visibility: hidden;
}

img {
	position: fixed;
	left: 0px;
	top: 0px;
	margin: 50px;
	border-radius: 10px;
  	filter: drop-shadow(10px 10px 10px #1a1213);
	z-index: -1;
}

footer {
	position: fixed;
	text-align: right;
	top: 800px;
	right: 460px;
}