/*loading animation*/

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 

/*general stylings*/
body {
	background-color: #1b94cc;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
	font-size: 16px;
	color:#1a1213;
}
img {
	border-radius: 10px;
  	filter: drop-shadow(10px 10px 10px #1a1213); 
	z-index: -1;
}
footer {
	position: relative;
	text-align: right;
	bottom: 5px;
	right: 5px;
	font-size: 10px;
}

input:focus::placeholder {
	color: transparent;
	text-shadow: none;
}

::selection {
  background: #00203a;
  color: white;
}

/*front specifics*/
input {
	width: 290px;
}
.container {
	display: flex;	
	justify-content: center;
	align-items: center;
}
.fobImage {
	height: 850px;
	width: 1152px;
	position: relative;
	right: 5px;
	bottom: 40px;
}
.fobForm {
	position: relative;
	bottom: 690px;
	left: 700px;
}
.fobBlockElements {
	display: block;
}
.fobInlineElements {
	display: inline;
}
.username {
	font-size: 34px;
	position: relative;
	top: 0px;
	left: 0px;
}
.userInputBox {
	height: 45px;
	position: relative;
	top: 8px;
}
.password {
	font-size: 14px;
	position: relative;
	left: 0px;
	top: 12px;
}
.passInputBox {
	position: relative;
	top: 10px;
}
.login {
	position: relative;
	top: 30px;
	width: 75px;
	height: 25px;
	left: 115px;
	border: solid 3px #1a1213;
	border-radius: 10px;
	background-color: rgb(255, 247, 203);
	color:#1a1213;
}
.goDaddy {
	position: relative;
	top: 855px;
	left: 5px;
}
	/*front alt sizings*/
	@media (max-width:320px){

	}
	@media (max-width:480px){
		
	}
	@media (max-width:600px){
		
	}
	@media (max-width:768px){
		
	}
	@media (max-width:900px){
		
	}
	@media (max-width:1024px){
		
	}
	@media (max-width:1200px){
		
	}

/*inside specifics*/

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -5;
}

.flexContainer {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 700px;
	width: 1300px;	
}

.flexItem {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
  
.lists {
	height: 95%;
	width: 88.5%;
	position: relative;
	left: 6%;
	top: 16.5%
}
  .leftListBox {
	  width: 48%;
  }
  .rightListBox {
	  width: 49.5%;
  }
    .eachListItem {
	  list-style: none;
	  margin: 2.35% 0 2.35% 0;
	  font-family: Apple Chancery, cursive;
	  font-size: 21px;
	  color: #766c60;
    }

.one {
	transform: rotate(-1.5deg);
	position: relative;
	bottom: 5px;
}
.two {
	transform: rotate(-1.25deg);
	position: relative;
	top: -1px;
}
.three, .four {
	transform: rotate(-1deg);
	position: relative;
	top: 3px;
}
.five, .six, .seven, .eight {
	transform: rotate(-.5deg);
	position: relative;
	top: 8px;
}
.six, .seven{
	position: relative;
	top: 10px;
}
.eight {
	position: relative;
	top: 12px;
}
.nine, .ten{
	position: relative;
	top: 15px;
}
.eleven {
	position: relative;
	top: 17px;
}
.twelve, .thirteen {
	transform: rotate(.5deg);
	position: relative;
	top: 20px;
}
.fourteen {
	transform: rotate(1deg);
	position: relative;
	top: 23px;
}
.fifteen, .sixteen {
	transform: rotate(.25deg);
	position: relative;
	top: -3px;
}
.fifteen {
	position: relative;
	top: -5px;
}
.seventeen {
	transform: rotate(.45deg);
}
.eighteen {
	transform: rotate(.20deg);
	position: relative;
	top: 2px;
}
.nineteen, .twenty {
	position: relative;
	top: 3px;
}
.twentyOne, .twentyTwo {
	position: relative;
	top: 5px;
}
.twentyThree, .twentyFour, .twentyFive, .twentySix, .twentySeven, .twentyEight {
	transform: rotate(.5deg);
	position: relative;
	top: 7px;
}
.twentyFour {
	position: relative;
	top: 9px;
}
.twentyFive, .twentySix {
	position: relative;
	top: 11px;
}
.twentySeven, .twentyEight {
	position: relative;
	top: 15px;
}

/*back specifics*/

